{% extends "layout.html" %}
{% block title %}Информация о пользователе{% endblock %}
{% block body %}
    <form action="" method="post">
            <table>
            <tr>
                <th> Идентификатор пользователя </th>
                <td> {{ user["user_id"] }}</td>
            </tr>
            <tr>
                <th> Имя пользователя </th>
                <td> {{ user["name"] }}</td>
            </tr>
            </table>
            {% for prod_id in prod_ids %}
                <p>
            <a href="{{ url_for('prods.return_prod', prod_id=prod_id) }}">{{ prod_id }} (нажмите, чтобы сдать товар)</a>
            {% endfor %}
    </form>
{% endblock %}